:root {
    --BORDER_RADIUS: 3px;
    --COLOR_CHAT_TEXT_BASE: #000; 
    --COLOR_INPUT_BG: #ffffff;
    --COLOR_INPUT_BORDER: #707070;
    --COLOR_INPUT_TEXT: #2c2c2c; 
    --COLOR_PANEL_BG: rgba(12, 44, 150, 0.75);
    --COLOR_PANEL_TEXT: #f0f0f0;    
}
body {
    font-family: Consolas;
    background: radial-gradient(circle, #6b86ad 25%, #536784 75%, #2a3444 100%);
}

button {
    font: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
    font-weight: 800;
    color: var(--COLOR_PANEL_TEXT);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
}
input, select, textarea {
    font: inherit;
    flex: 0 0 auto;
    height: 32px;
    width: 100%;
    color: var(--COLOR_INPUT_TEXT);
    background-color: var(--COLOR_INPUT_BG);
    border: 1px solid var(--COLOR_INPUT_BORDER);
    border-radius: var(--BORDER_RADIUS);
    transition: background-color .12s ease,border-color .12s ease;
}
table{
    border: 5px solid black;
}
td,th {
    line-height: 0px;
    min-width: 44px;
    max-width: 54px;
    min-height: 44px;
    max-height: 54px;
    padding:5px;
    border-radius: 100px;
    transition: 150ms ease-in-out;
}
td:hover {
    background-color: #c99355;
}
#home img{
    margin: 2px;
}

#home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .logo-big {
    height: 25rem;
    margin-top: 25px;
    margin-bottom: 40px;
    transition: 150ms ease-in-out;
}
#home .logo-big:hover {
    filter: brightness(70%);
}
#home .panels {
    display: flex;
    width: 100%;
}
#home .panel-left {
    margin-right: 8px;
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: inherit;
}
#home .panel {
    flex: 0 0 auto;
    width: 400px;
    background-color: var(--COLOR_PANEL_BG);
    border-radius: var(--BORDER_RADIUS);
    padding: 15px;
    box-sizing: inherit;
}
#home .panel-right {
    margin-left: 8px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: inherit;
}
#home .button-create {
    background-color: #2c8de7;
    text-shadow: 2px 2px 0 #0000002b;
    transition: background-color 80ms;
    border-radius: var(--BORDER_RADIUS);
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    font-weight: 700;
    margin-top: 10px;
    transition: 150ms ease-in-out;
}
#home .button-create:hover {
    background-color: #1469b8;
}
#home .button-join {
    background-color: #53e237;
    text-shadow: 2px 2px 0 #0000002b;
    transition: background-color 80ms;
    border-radius: var(--BORDER_RADIUS);
    font-size: 2em;
    height: 54px;
    width: 100%;
    margin-top: 10px;
    transition: 150ms ease-in-out;
}
#home .button-join:hover {
    background-color: #33b319;
}
#home .container-input {
    display: flex;
    flex-direction: row;
}
#home input {
    height: 34px;
    flex: 1 1 auto;
    padding: 2px 10px;
    font-weight: 700;
    box-sizing: inherit;
}
#game .logo-small {
    height: 4rem;
    transition: 150ms ease-in-out;
}
#game .logo-small:hover {
    filter: brightness(70%);
}
#game .panels {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}
#game .panel-left {
    margin-right: 8px;
    flex: 1 1 15%;
    display: flex;
    box-sizing: inherit;
    flex-direction: column;
    padding-left: 1rem;
}
#game .panel {
    flex: 0 0 auto;
    width: 70%;
    padding: 15px;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game .panel-right {
    position: relative;
    margin-left: 8px;
    margin-right: 2rem;
    flex: 1 1 15%;
    display: flex;
    box-sizing: inherit;
    flex-direction: column;
    align-items: center;
}
#game .board {
    display: flex;
    background-color: #ffbb6c;
    box-shadow: 0px 0px 20px black;
}
#game .logo {
    display: block;
}
#game .user-list {
    display: block;
    margin-top: 2rem;
    border: 4px solid black;
    padding-left: 2rem;
    background-image: linear-gradient(to bottom right, #ffbb6c, #b7854b);
    box-shadow: 0px 0px 10px black;
    margin-bottom: auto;
}
ul{
    padding: 0;
    margin-bottom: 2rem;
}
#game .start-button {
    width: 40%;
    font-size: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53e237;
    border-radius: var(--BORDER_RADIUS);
    text-shadow: 2px 2px 0 #0000002b;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 10px black;
}

#game .start-button:hover {
    background-color: #33b319;
}

#game .room-key-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#game .room-key-display {
    font-size: 2rem;
    padding: 2px;
    border-radius: var(--BORDER_RADIUS);
    border: 4px solid black;
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
}
#game .copy-button {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53e237;
    border-radius: var(--BORDER_RADIUS);
    text-shadow: 2px 2px 0 #0000002b;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 10px black;
}
#game .copy-button:hover {
    background-color: #33b319;
}
.room-log {
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    border: 4px solid black;
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
}
#room-log .message{
    color: var(--COLOR_CHAT_TEXT_BASE);
    padding: 0.2em;
    margin: 0;
    
}
#room-log header{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 0.5rem;
}

.box-dice {
    display: none;
    width: 150px;
    height: 150px;
    margin-left: 1rem;
    box-shadow: 0px 0px 15px black;
    transform-style: preserve-3d;
}

.box-dice:hover {
    cursor: pointer;
}
.animated {
    animation-name: dice-roll;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes dice-roll {
    100% {
        transform: rotateX(720deg) rotateY(360deg) rotateZ(180deg);
    }
  }

.card-dice {
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 50% 0px;
    color: white;
    border: 4px solid black;
    box-sizing: border-box;
    position: absolute;
}

#front{
    transform: translateZ(75px);
    background-image: url('../images/dice/dice_six.png');
    background-size: cover;
    background-position: center;
}

#back{
    transform: translateZ(-75px);
    background-image: url('../images/dice/dice_one.png');
    background-size: cover;
    background-position: center;
}

#left {
    right: 75px;
    transform: rotateY(-90deg);
    background-image: url('../images/dice/dice_five.png');
    background-size: cover;
    background-position: center;
}

#right {
    left: 75px;
    transform: rotateY(90deg);
    background-image: url('../images/dice/dice_two.png');
    background-size: cover;
    background-position: center;
}

#top {
    bottom: 75px;
    transform: rotateX(90deg);
    background-image: url('../images/dice/dice_three.png');
    background-size: cover;
    background-position: center;
}

#bottom {
    top: 75px;
    transform: rotateX(-90deg);
    background-image: url('../images/dice/dice_four.png');
    background-size: cover;
    background-position: center;
}
.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
    left: 50%;
}
.footer a {
    margin-left: 4px;
    margin-right: 4px;
    color: #313c4e;
}
.index-link {
    color: #141d2c;
}
.datenschutz {
    text-align: center;
}
.impressum {
    text-align: center;
}