:root {
    --vh: 1vh;
    --BORDER_GAP: 6px;
    --BORDER_RADIUS: 3px;
    --MOBILE_CHAT_MAXHEIGHT: 200px;
    --PLAYERS_PER_PAGE: -1;
    --COLOR_TEXT_CANVAS_TRANSPARENT: #404040;
    --COLOR_PANEL_BG: rgba(12, 44, 150, 0.75);
    --COLOR_PANEL_LO: rgba(7, 36, 131, 0.75);
    --COLOR_PANEL_HI: #1640c9;
    --COLOR_PANEL_FOCUS: #ee9631;
    --COLOR_PANEL_BORDER: #040a33;
    --COLOR_PANEL_BORDER_FOCUS: #56b2fd;
    --COLOR_PANEL_TEXT: #f0f0f0;
    --COLOR_PANEL_TEXT_FOCUS: white;
    --COLOR_PANEL_TEXT_PLACEHOLDER: #9b9b9b;
    --COLOR_PANEL_BUTTON: #2a51d1;
    --COLOR_PANEL_BUTTON_HOVER: #1e44be;
    --COLOR_PANEL_BUTTON_ACTIVE: #1d40b4;
    --COLOR_TOOL_BASE: white;
    --COLOR_TOOL_HOVER: #c5c5c5;
    --COLOR_TOOL_ACTIVE: #ab66eb;
    --COLOR_TOOL_TEXT: #000;
    --COLOR_TOOL_SIZE_BASE: white;
    --COLOR_TOOL_SIZE_HOVER: #c5c5c5;
    --COLOR_TOOL_SIZE_ACTIVE: #ab66eb;
    --COLOR_INPUT_BG: #ffffff;
    --COLOR_INPUT_HOVER: white;
    --COLOR_INPUT_TEXT: #2c2c2c;
    --COLOR_INPUT_BORDER: #707070;
    --COLOR_INPUT_BORDER_FOCUS: #56b2fd;
    --COLOR_TOOL_TIP_BG: #4571ff;
    --COLOR_GAMEBAR_TEXT: #000;
    --COLOR_GAMEBAR_ROUND_TEXT: #000;
    --COLOR_GAMEBAR_WORD_DESCRIPTION: #363636;
    --COLOR_CHAT_TEXT_BASE: #000;
    --COLOR_CHAT_TEXT_GUESSED: #56CE27;
    --COLOR_CHAT_TEXT_CLOSE: #e2cb00;
    --COLOR_CHAT_TEXT_DRAWING: #3975CE;
    --COLOR_CHAT_TEXT_JOIN: #56CE27;
    --COLOR_CHAT_TEXT_LEAVE: #CE4F0A;
    --COLOR_CHAT_TEXT_OWNER: #ffa844;
    --COLOR_CHAT_TEXT_GUESSCHAT: #7dad3f;
    --COLOR_CHAT_BG_BASE: #fff;
    --COLOR_CHAT_BG_ALT: #ececec;
    --COLOR_CHAT_SCROLLBAR: #7e7e7e;
    --COLOR_CHAT_SCROLLBAR_THUMB: #c7c7c7;
    --COLOR_CHAT_BG_GUESSED_BASE: #e7ffdf;
    --COLOR_CHAT_BG_GUESSED_ALT: #cfffbd;
    --COLOR_CHAT_INPUT_COUNT: #000;
    --COLOR_PLAYER_TEXT_BASE: #000;
    --COLOR_PLAYER_ME: #4998ff;
    --COLOR_PLAYER_ME_GUESSED: #0048b5;
    --COLOR_PLAYER_BG_BASE: #fff;
    --COLOR_PLAYER_BG_ALT: #ececec;
    --COLOR_PLAYER_BG_GUESSED_BASE: #5bdd4a;
    --COLOR_PLAYER_BG_GUESSED_ALT: #48c737;
}
body {
    background-color: #6b86ad;
}

button {
    font: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
    font-weight: 800;
    color: var(--COLOR_PANEL_TEXT);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
}
input, select, textarea {
    font: inherit;
    flex: 0 0 auto;
    height: 32px;
    width: 100%;
    color: var(--COLOR_INPUT_TEXT);
    background-color: var(--COLOR_INPUT_BG);
    border: 1px solid var(--COLOR_INPUT_BORDER);
    border-radius: var(--BORDER_RADIUS);
    transition: background-color .12s ease,border-color .12s ease;
}
table{
    border: 5px solid black;
}
td,th {
    line-height: 0px;
    min-width: 44px;
    max-width: 54px;
    min-height: 44px;
    max-height: 54px;
    padding:5px;
    border-radius: 100px;
    transition: 150ms ease-in-out;
}
td:hover {
    background-color: #c99355;
}
#home img{
    margin: 2px;
}

#home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .logo-big {
    margin-top: 25px;
    margin-bottom: 40px;
    transition: 150ms ease-in-out;
}
#home .logo-big:hover {
    filter: brightness(70%);
}

#home .panels {
    display: flex;
    width: 100%;
}
#home .panel-left {
    margin-right: 8px;
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: inherit;
}
#home .panel {
    flex: 0 0 auto;
    width: 400px;
    background-color: var(--COLOR_PANEL_BG);
    border-radius: var(--BORDER_RADIUS);
    padding: 15px;
    box-sizing: inherit;
}
#home .panel-right {
    margin-left: 8px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: inherit;
}
#home .button-create {
    background-color: #2c8de7;
    text-shadow: 2px 2px 0 #0000002b;
    transition: background-color 80ms;
    border-radius: var(--BORDER_RADIUS);
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    font-weight: 700;
    margin-top: 10px;
    transition: 150ms ease-in-out;
}
#home .button-create:hover {
    background-color: #1469b8;
}
#home .button-join {
    background-color: #53e237;
    text-shadow: 2px 2px 0 #0000002b;
    transition: background-color 80ms;
    border-radius: var(--BORDER_RADIUS);
    font-size: 2em;
    height: 54px;
    width: 100%;
    margin-top: 10px;
    transition: 150ms ease-in-out;
}
#home .button-join:hover {
    background-color: #33b319;
}

#home .container-input {
    display: flex;
    flex-direction: row;
}
#home input {
    height: 34px;
    flex: 1 1 auto;
    padding: 2px 10px;
    font-weight: 700;
    box-sizing: inherit;
}
#game .logo-small {
    height: 4rem;
    transition: 150ms ease-in-out;
}
#game .logo-small:hover {
    filter: brightness(70%);
}
#game .panels {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}
#game .panel-left {
    margin-right: 8px;
    flex: 1 1 15%;
    display: flex;
    box-sizing: inherit;
    flex-direction: column;
}
#game .panel {
    flex: 0 0 auto;
    width: 70%;
    padding: 15px;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game .panel-right {
    margin-left: 8px;
    flex: 1 1 15%;
    display: flex;
    box-sizing: inherit;
}
#game .board {
    display: flex;
    background-color: #ffbb6c;
    box-shadow: 0px 0px 20px black;
}
#game .logo {
    display: block;
}
#game .user-list {
    display: block;
    margin-top: 2rem;
    border: 4px solid black;
    padding-left: 2rem;
    background-color: #ffbb6c;
    box-shadow: 0px 0px 10px black;
}
ul{
    padding: 0;
    margin-bottom: 2rem;
}
#game .start-button {
    width: 40%;
    font-size: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53e237;
    border-radius: var(--BORDER_RADIUS);
    text-shadow: 2px 2px 0 #0000002b;
    transition: 150ms ease-in-out;
}

#game .start-button:hover {
    background-color: #33b319;
}