<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">
        <title>Mensch</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" 
        integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
        ></script>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>