{% extends 'base.html' %}
{% block content%}
<body>
    <div id="game">
        <div class="panels">
            <div class="panel-left">
                <div class="logo">
                <a href="./">
                    <img class ="logo-small" src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
                </div>
                <div class="user-list">
                    <p>Current Players:</p>
                    <ul id="user-list" style="list-style: none;">
                    </ul>
                </div>
                
            </div>
            <div class="panel">
                <div class="board">
                    {% set row0 = ['11', '11', '  ', '  ', '00', '00', '20', '  ', '  ', '22', '22'] %}
                    {% set row1 = ['11', '11', '  ', '  ', '00', '20', '00', '  ', '  ', '22', '22'] %}
                    {% set row2 = ['  ', '  ', '  ', '  ', '00', '20', '00', '  ', '  ', '  ', '  '] %}
                    {% set row3 = ['  ', '  ', '  ', '  ', '00', '20', '00', '  ', '  ', '  ', '  '] %}
                    {% set row4 = ['10', '00', '00', '00', '00', '20', '00', '00', '00', '00', '00'] %}
                    {% set row5 = ['00', '10', '10', '10', '10', '  ', '40', '40', '40', '40', '00'] %}
                    {% set row6 = ['00', '00', '00', '00', '00', '30', '00', '00', '00', '00', '40'] %}
                    {% set row7 = ['  ', '  ', '  ', '  ', '00', '30', '00', '  ', '  ', '  ', '  '] %}
                    {% set row8 = ['  ', '  ', '  ', '  ', '00', '30', '00', '  ', '  ', '  ', '  '] %}
                    {% set row9 = ['33', '33', '  ', '  ', '00', '30', '00', '  ', '  ', '44', '44'] %}
                    {% set row10= ['33', '33', '  ', '  ', '30', '00', '00', '  ', '  ', '44', '44'] %}
                    {% set gameboard = [row0, row1, row2, row3, row4, row5, row6, row7, row8, row9, row10]%}
                    <table>
                        {% for row in gameboard %}
                        <tr>
                            {% for field in row %}
                                {% if field == '  ' %}
                                    <th></th>
                                {% else %}
                                    <td onclick="sendOnCellClick()"><img src="{{ url_for('static', filename='images/board/' ~ field ~ '.svg') }}"></td>
                                {% endif%}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <button class="start-button" onclick="startRound()">Start Game</button>
            </div>
            <div class="panel-right">
                <h2>Game: {{room}}</h2>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript">
    var socketio = io();
    var client = [];

socketio.on('message', function(data) {
    var obj = JSON.parse(data);
    client_list = obj.client_list;
    console.log(data);
    
    if (obj.type == 'user_joined') {
        //user joined room, update view
        var userList = document.getElementById("user-list");
        userList.innerHTML = ""; //clear previous list items

        for (var clientId in obj.client_list)
        {
            if (obj.client_list.hasOwnProperty(clientId)) {
                var userName = obj.client_list[clientId];
                var listItem = document.createElement("li");
                var boldItem = document.createElement("b");
                var textNode = document.createTextNode(userName);
                listItem.appendChild(boldItem);
                boldItem.appendChild(textNode);
                userList.appendChild(listItem);
            }
        }
    } else if (obj.type == 'user_left') {
        //user left room, update view
        var userList = document.getElementById("user-list");
        userList.innerHTML = ""; //clear previous list items

        for (var clientId in obj.client_list)
        {
            if (obj.client_list.hasOwnProperty(clientId)) {
                var userName = obj.client_list[clientId];
                var listItem = document.createElement("li");
                var boldItem = document.createElement("b");
                var textNode = document.createTextNode(userName);
                listItem.appendChild(boldItem);
                boldItem.appendChild(textNode);
                userList.appendChild(listItem);
            }
        }
    }
});


function startRound() {
    console.log('room: {{room}} user: ' + socketio.id + 'clients:' + client_list);
    socketio.emit('start-round', {room: '{{room}}', user: socketio.id, clients: client_list})
}

function sendOnCellClick() {
    console.log('room: {{room}} client: ' + socketio.id);
    socketio.emit('table-cell-clicked', {room: '{{room}}', user: socketio.id});
}


</script>
{% endblock %}