{% extends 'base.html' %}
{% block content %}
<body>
    <div id="game">
        <div onclick="overlay_click()" class="overlay" id="dice-overlay">
            
        </div>
        <div class="panels">
            <div class="panel-left">
                <div>
                <a href="./">
                    <img class ="logo-small" src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
                </div>
                <div class="user-list">
                    <header>
                        <b><p>Player List</p></b>
                    </header>
                    
                    <ul id="user-list" style="list-style: none;">
                    </ul>
                </div>
                {% include 'dice.html' %}
            </div>
            <div class="panel">
                <div class="board" id="gameboard">
                    
                    <table>
                        <tbody>
                            {% set row0 = ['10', '10', '  ', '  ', '00', '00', '40', '  ', '  ', '40', '40'] %}
                            {% set row1 = ['10', '10', '  ', '  ', '00', '40', '00', '  ', '  ', '40', '40'] %}
                            {% set row2 = ['  ', '  ', '  ', '  ', '00', '40', '00', '  ', '  ', '  ', '  '] %}
                            {% set row3 = ['  ', '  ', '  ', '  ', '00', '40', '00', '  ', '  ', '  ', '  '] %}
                            {% set row4 = ['10', '00', '00', '00', '00', '40', '00', '00', '00', '00', '00'] %}
                            {% set row5 = ['00', '10', '10', '10', '10', '  ', '20', '20', '20', '20', '00'] %}
                            {% set row6 = ['00', '00', '00', '00', '00', '30', '00', '00', '00', '00', '20'] %}
                            {% set row7 = ['  ', '  ', '  ', '  ', '00', '30', '00', '  ', '  ', '  ', '  '] %}
                            {% set row8 = ['  ', '  ', '  ', '  ', '00', '30', '00', '  ', '  ', '  ', '  '] %}
                            {% set row9 = ['30', '30', '  ', '  ', '00', '30', '00', '  ', '  ', '20', '20'] %}
                            {% set row10= ['30', '30', '  ', '  ', '30', '00', '00', '  ', '  ', '20', '20'] %}
                            {% set gameboard = [row0, row1, row2, row3, row4, row5, row6, row7, row8, row9, row10]%}
                            {% for row in gameboard %}
                                <tr>
                                {% for field in row %}
                                    {% if field == '  ' %}
                                        <th></th>
                                    {% else %}
                                        <td><img src="{{ url_for('static', filename='images/board/' ~ field ~ '.svg') }}"></td>
                                    {% endif%}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                <button class="start-button" id="start-button" onclick="startRound()">Start Game</button>
            </div>
            <div class="panel-right">
                <div class="room-key-panel">
                    <a class="room-key-display">Game: {{room}}</a>
                    <button class="copy-button" onclick="copyRoomKey()">Copy</button>
                </div>
                <div class="room-log" id="room-log">
                    <header>
                        <b>Game log<b>
                    </header>
                    <section class="log" id="log">
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var socketio = io();
    var client = [];

socketio.on('message', function(data) {
    var obj = JSON.parse(data);
    
    if (obj.type == 'user_joined') {
        client_list = obj.client_list;
        //user joined room, update view
        var userList = document.getElementById("user-list");
        userList.innerHTML = ""; //clear previous list items

        for (var clientId in obj.client_list)
        {
            if (obj.client_list.hasOwnProperty(clientId)) {
                var userName = obj.client_list[clientId];
                var listItem = document.createElement("li");
                var boldItem = document.createElement("b");
                var textNode = document.createTextNode(userName);
                listItem.appendChild(boldItem);
                boldItem.appendChild(textNode);
                userList.appendChild(listItem);
            }
        }
    } else if (obj.type == 'user_left') {
        client_list = obj.client_list;
        //user left room, update view
        var userList = document.getElementById("user-list");
        userList.innerHTML = ""; //clear previous list items

        for (var clientId in obj.client_list)
        {
            if (obj.client_list.hasOwnProperty(clientId)) {
                var userName = obj.client_list[clientId];
                var listItem = document.createElement("li");
                var boldItem = document.createElement("b");
                var textNode = document.createTextNode(userName);
                listItem.appendChild(boldItem);
                boldItem.appendChild(textNode);
                userList.appendChild(listItem);
            }
        }   
    } else if (obj.type == 'gameboard') {
        var button = document.getElementById("start-button");
        button.style.display = "none";
        var gameboardList = obj.gameboard
        var tbody = document.querySelector("#gameboard tbody");
        tbody.innerHTML = ""; //clear tbody

        for (var i = 0; i < gameboardList.length; i++) {
            if (i % 11 === 0) {
                var row = document.createElement("tr");
                tbody.appendChild(row);
            }
            var content = gameboardList[i];
            if (content === "  ") {
                var cell = document.createElement("th");
            } else {
                var cell = document.createElement("td");
                cell.setAttribute('onclick', `sendOnCellClick(${i})`);
                var img = document.createElement('img');
                img.setAttribute('src', '{{ url_for('static', filename='images/board/') }}'+ content +'.svg');
                cell.appendChild(img);
            }
            cell.setAttribute("id", i);
            row.appendChild(cell);
        }
    } else if (obj.type == "dice") {
        //show dice for this client
        message = " It's your turn!";
        username = client_list[socketio.id];
        socketio.emit('room-log', {room: '{{room}}',user: username, msg: message});
        var dice = document.querySelector('#dice-button');
        dice.style.display = "block";
    } else if (obj.type == "send_dice_result") {
        var user = obj.user;
        var number = obj.number;
        message = " rolled a " + number;
        socketio.emit('room-log', {room: '{{room}}',user: user, msg: message});
    } else if (obj.type == "room-log") {   
        
        var roomLog = document.getElementById('room-log')    
        var log = document.getElementById('log');
        var art = document.createElement("article");
        var boldText = document.createElement("b");
        boldText.textContent = obj.user;
        var msg = document.createTextNode(obj.msg);
        art.setAttribute("class", "message");
        switch (obj.color){
            case '1'://yellow
                boldText.style.color = "#FFA400";
                art.style.backgroundColor = "#FFFF0020";
                break;
            case '2'://red
                boldText.style.color = "#FF000B";
                art.style.backgroundColor = "#FF000B20";
                break;
            case '3'://blue
                boldText.style.color = "#0000FF";
                art.style.backgroundColor = "#0000FF20";
                break;
            case '4'://green
                boldText.style.color = "#009B00";
                art.style.backgroundColor = "#009B0020";
                break;
        }
        art.appendChild(boldText);
        art.appendChild(msg);
        log.appendChild(art);
        roomLog.scrollTop = roomLog.scrollHeight;
    } else if (obj.type == "game_finished") {
        user = obj.winner;
        message = " won the game!";
        socketio.emit('room-log', {room: '{{room}}',user: user, msg: message});
    }
});

function dice() {
    var dice = document.querySelector('#dice-button');
    dice.classList.add("animated")
    setTimeout(function() {
        dice.style.display = "none";
        dice.classList.remove("animated")
        socketio.emit('dice', {room: '{{room}}', user: socketio.id});
    }, 1500);
}

function startRound() {
    /*if(Object.keys(client_list).length < 2) {
        alert("Can't start round with less than two players");
        return;
    }*/
    message = " started the game!";
    username = client_list[socketio.id];
    socketio.emit('start-round', {room: '{{room}}', user: socketio.id, clients: client_list});
    socketio.emit('room-log', {room: '{{room}}', user: username, msg: message});
}

function sendOnCellClick(i) {
    socketio.emit('choose-figure', {room: '{{room}}', user: socketio.id, field: i});
}

function overlay_click() {
    //TODO
    //Hier muss eine Bedingung hin die prüft ob gewürfelt wurde
    var overlay = document.querySelector("#dice-overlay");
    overlay.style.display = "none";
}

function copyRoomKey() {
    // Copy the text inside the text field
    var room = '{{room}}';
    navigator.clipboard.writeText(room);
}

</script>
{% endblock %}


