{% extends 'base.html' %}
{% block content%}

<div id="home">
  <h1>DiceDrama</h1>
  <div>
    <a href="./">
      <img class="logo-big" src="{{ url_for('static', filename='images/logo.png')}}">
    </a>
  </div>
  <div class ="panels">
    <div class="panel-left"></div>
    <div class="panel">
      <form method="POST">
        <div class="container-input">
          <input class="input-nickname" id="nickname" type="text" placeholder="Enter your name" name="nickname" pattern="[a-zA-ZöäüßÖÄÜ]{1,21}" maxlength="21" title="you can only use letters in your nickname" data-translate="placeholder" value="{{nickname}}">
        </div>
        <div class="join">
          <div class="container-input">
            <input class="input-code" type="text" placeholder="Room Code" pattern="[A-Z]{4}" maxlength="4" title="only uppercase letters are allowed" name="code" value="{{code}}" />
          </div>
          <button type="submit" name="join" class="button-join">Play!</button>
        </div>
        <button type="submit" name="create" class="button-create">Create Private Game</button>
      </form>
    </div>
    <div class="panel-right">
    </div>
  </div>
  <div class="bottom"></div>
  {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
  {% endif %}
</div>

{% endblock %}